body {

  margin: 0;

}

h1 {
  font-size: 5rem;
}

.top-container {

  background-color: #111d5e;
  padding: 7% 15%;
  color: #fe346e;
  text-align: center;

}

.middle-container {

}
