
.comment-box {
    padding: 0 2rem 0;
    font-size: 1.4rem;
    
    
    &__heading  {
        color: $color-purple;
        font-size: 2rem;
        font-weight: 400;
        display: inline-block;
    }

    &__btn{
        
       
        display: inline-block;
        color: $color-dark-grey;

        &:not(:last-child){
            margin-right: $button-margin-right ;
        }

        

        &--new-comment {
           margin-left: auto;
           text-decoration: none;
           color: $color-black;
           font-weight: 400;
           
        }

        &--like,
        &--dislike,
        &--reply {
            width: 2.5rem;
            height: 2.5rem;
            //position: absolute;;
        }

        &--like {
            top: 0;
            left: 5rem;
        }

        &--dislike {
            top: 30%;
            left: 10rem;
        }

        &--reply {
            top: 0;
            left: 15rem;
        }

    }

    
    


    &__user-avatar {
        vertical-align: middle;
        height: 1.5rem;
        width: 2.5rem;
        display: inline-block;
    }
    
    &__username {
        vertical-align: middle;
        font-size: 1.6rem;
        font-weight: 700;
        display: inline-block;
    }

    &__time {
        text-align: right;
        color: $color-dark-grey;
    }

    &__replies-counter {
        display: inline-block;
    }


    &__circle-counter {
        
        color: white;
        font-weight: bold;
        background-color: $color-purple;
        height: 3rem;
        width: 3rem;
        
        
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        text-align: center;
        display: flex;
        
        
    }




}