// Logo

.logo {
    height: 3.25rem;
    margin-left: 2rem;
}

// SearchBox
.search {
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    

    
    &__input {
        //Inheriting color, font-family and font-size of a parent (header)
        color: inherit;
        font-family: inherit;
        font-size: inherit;
        background-color: var(--color-grey-light-2);
        border: none;
        border-radius: 10rem;
        padding: .7rem 2rem;
        width: 90%;
        transition: all .3s;
        // text-align: center;
        margin-right: -3.35rem;
        
        

        &:focus {
            outline: none;
            width: 100%;
            background-color: var(--color-grey-light-3);
        }

        //Making placeholder font lighter 
        &::-webkit-input-placeholder {
            font-weight: 100;
            color: var(--color-grey-light-4);
        }
    }

    &__button {
        border: none;
        background-color: var(--color-grey-light-2);
        
        &:focus {
            outline: none;
            
        }

        &:active {
            transform: translateY(2px);
        }
    }

    //Changing background of the button when input is in focus (button is a sibling of input)
    &__input:focus ~ &__button{
        background-color: var(--color-grey-light-3);
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        //filling svg with color
        fill: var(--color-grey-dark-3);
    }
}

// User navigation

.user-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-self: stretch;

    //Selecting direct children of user-nav (icon-box and user-photo)
    & > * {
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;

        //centering 
        display: flex;
        align-items: center;
       
    }

    & > *:hover {
        background-color: var(--color-grey-light-2);
    }

    &__icon-box {
       position: relative;
    }

    &__icon {
        height: 2.25rem;
        width: 2.25rem;
        fill: var(--color-grey-dark-2)
    }

    &__notification {
        font-size: .8rem;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 50%;
        background-color: var(--color-primary);
        color: white;
        position: absolute;
        top: 1.5rem;
        right: 1.1rem;


        // centering text
        display: flex;
        justify-content: center;
        align-items: center;

    }
    
    &__user-photo {
        height: 3.75rem;
        border-radius: 50%;
        margin-right: 1rem;
    }

    &__user-name {

    }
}



//  Side navigation

.side-nav {
    list-style: none;

    &__item {
        
    }

    &__link {
        &:link,
        &:visited {
            text-decoration: none;
            color: white;
        }
    }

    &__icon {
        width: 1.75rem;
        height: 1.75rem;
    }

    &__text {

    }

}

// Legal text
.legal {

    align-self: flex-end;
   font-size: 1.2rem;
   text-align: center;
   padding: 2.5rem;
   color: var(--color-grey-light-4);
}