body{color:brown;}
/* Navigation Bar */

.nav-bar{
  margin: 0;
  height: 50px;
  padding: 0;
  background-color: orange;

}
ul{
  padding: 0;
  margin: 0;
}
li {
  float:left;
  display: list-item;
  margin: 0;
  list-style: none;
}

li a {
  display: block;
  margin-right: 20px;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  color: white;
}

li a:hover{
  background-color: white;
  color: orange;
}

.wrapper{
  text-align: justify;
  margin: 0 20%;

  border: solid 2px orange;
}


h1{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.text{
  margin: 0 5%;
}

.footer{
  margin-top:10px;
  text-align: center;
}

.footer a{
  margin:5px 10px;
  text-decoration: none;
  color: brown;
}

.footer a:hover{
  color: blue;
}
