.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh;

    @include respond(tab-port){
        padding: 20rem 0 20rem;
        margin-top: -15vh;
    }

    @include respond(phone){
        padding: 15rem 0 20rem;
        margin-top: -10vh;
    }
    
  
}

.section-features {
    padding:20rem 0;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.801),
        rgba($color-primary-dark, 0.801)),
         url(../img/nat-4-small.jpg);
    background-size: cover;
    margin-top: -10rem;
    transform: skewY(-7deg);
    
    //to fix jagged edges of skew transform
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    outline: 1px solid transparent;

    /*Selectiong all direc child of section-features*/
    & > * {
        transform: skewY(7deg);
    }

    @include respond(tab-port){
        padding: 10rem 0;
    }


    @media  only screen and (min-resolution:192dpi) and (min-width:37.5em), 
            only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width:37.5em), 
            only screen and (min-width:125em) {
        background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.801),
        rgba($color-primary-dark, 0.801)),
         url(../img/nat-4.jpg);
    }
}

.section-tours {
    background-color: $color-grey-light-1;
    padding: 25rem 0 15rem;
    margin-top: -10rem;
    
    @include respond(tab-port){
        padding: 20rem 0 10rem;
    }
}

.section-stories {
    position: relative;
    padding: 15rem 0;

    @include respond(tab-port){
        padding: 10rem 0;
    }
    
}

.section-book {
    padding:  15rem 0;
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);

    @include respond(tab-port){
        padding: 10rem 0;
    }
}

.book {
    background-image:  linear-gradient(105deg, 
                                        rgba($color-white, .9) 0%,
                                        rgba($color-white, .9) 49.9%,
                                         transparent 50%), 
                        url(../img/nat-10-small.jpg);
    background-size: cover;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .2);
    
    @media  only screen and (min-resolution:192dpi) and (min-width:37.5em), 
            only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width:37.5em),
            only screen and (min-width:125em){
        background-image:  linear-gradient(105deg, 
                                        rgba($color-white, .9) 0%,
                                        rgba($color-white, .9) 49.9%,
                                         transparent 50%), 
                        url(../img/nat-10.jpg);
    }
    

    @include respond(tab-land) {
        background-image:  linear-gradient(105deg, 
        rgba($color-white, .9) 0%,
        rgba($color-white, .9)  64.9%,
         transparent 65%), 
        url(../img/nat-10-small.jpg);

        @media  only screen and  (min-resolution:192dpi), 
                only screen and (-webkit-min-device-pixel-ratio: 2) {
                    background-image:  linear-gradient(105deg, 
                    rgba($color-white, .9) 0%,
                    rgba($color-white, .9)  64.9%,
                    transparent 65%), 
                    url(../img/nat-10.jpg);
        }

    }

    @include respond(tab-port) {
        background-image:  linear-gradient(to right, 
        rgba($color-white, .9) 0%,
        rgba($color-white, .9)  100%,), 
        url(../img/nat-10-small.jpg);

        @media  only screen and (min-resolution:192dpi),
                only screen and (-webkit-min-device-pixel-ratio: 2) {
                background-image:  linear-gradient(to right, 
                rgba($color-white, .9) 0%,
                rgba($color-white, .9)  100%,), 
                url(../img/nat-10-small.jpg);
        }
    }
    
    &__form {
        width: 50%;
        padding: 6rem;
        
        @include respond(tab-land) {
            width: 65%;
            
        }

        @include respond(tab-port) {
            width: 100%;
            
        }
    }

}