/*tag selectors*/
h1{
  color: red;
  font-size:  120px;
  justify-content: center;
  text-align: center;
}

p{
  font-size:  50px;
  justify-content: center;
  text-align: center;
}

img:hover{
  background-color: yellow;
}


/*Class selectors*/
.bacon{
  background-color: red;
  height: 5%;
  width: 5%;
}
.pot{
  background-color: green;
  height: 5%;
  width: 5%;
}
.circular{
  border-radius: 100%;
}
/*ID selectors*/
#heading{
  color: magenta;
}
